@import 'main';

.Auth {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include center;

  &__Content {
    display: flex;
    flex-direction: column;
  }

  &__Form {}

  &__Label {
    font-family: Mallory-Book;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
